#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  text-align: center;
  color: #fff0f5;;
  font-size: 2.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: "900";
  font-optical-sizing: auto;
  padding: 40px;
  border-radius: 15px;
  background-color:  #ff69b4;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid;
}
.nav {
  
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: end;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


